@page "/admin"

@*added this bit of c# below to allow for authentication and authorization*@
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize] 

@model MyBookstore.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Amazonian Booksw Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>
    <component type="typeof(MyBookstore.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>

</html>